page-home {
    .caption {
        background: color($colors, primary);
        padding: 15px;
        color: #fff;
        font-family: "PingFang SC", Arial, Helvetica, sans-serif;
        h2,p {
            margin: 0;
            padding: 0;
        }
        .company {
            display: flex;
            .avatar {
                flex: 0 0 66px;
                width: 66px;
                height: 66px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    // border: 4px solid rgb(216, 144, 35);
                }
            }
            .info {
                flex: 1;
                margin-left: 10px;
                
                .comp-name {
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 5px;
                }

                .accounts {
                    font-size: 12px;
                    margin-top: 10px;
                    position: relative;
                }

                .phone-btn {
                    position: absolute;
                    right: -5px;
                    top: 0px;
                    display: inline-block;
                    padding: 5px 15px;
                    font-size: 22px;
                    cursor: pointer;
                    user-select: none;
                }
                
            }
        }
    }

    .splitor {
        height: 5px;
        background: #f7f7f7;
    }
}
