page-job-plan-create-home {
    .create-box {
        .title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 16px;
            color: #333;
        }
        width: 70%;
        margin: 20px auto 0;
        padding: 20px 0;
        .help-text {
            margin: 0 0 30px;
            text-align: center;
            font-size: 14px;
            color: #666;
        }
    }
}
