<!--
  Generated template for the AccountFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>基本资料</ion-card-header>
    <form-fields [controls]="controls"></form-fields>
  </ion-card>
  <ion-card *ngIf="permissionResources.length > 0">
    <ion-card-header>权限设置</ion-card-header>
    <div class="resources">
      <div class="permission-resource" *ngFor="let res of permissionResources">
        <h2 class="name">{{res.name}}</h2>
        <div class="actions">
          <div class="action" tappable (click)="selectItem(res, action);" *ngFor="let action of res.actions">
            <ion-icon
              name="{{res.selected_actions.indexOf(action.code) !== -1 ? 'ios-checkbox-outline' : 'ios-square-outline'}}">
            </ion-icon>
            {{action.name}}
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <div padding>
    <button ion-button block (click)="save();">保存</button>
  </div>
</ion-footer>