<div class="filter-bar" *ngIf="filterItems.length > 0">
  <div class="filter-item width-{{filterItems.length}}" tappable (click)="selectFilter(filterItem);"
    *ngFor="let filterItem of filterItems">
    <span class="name">{{filterItemLabel(filterItem)}}</span>
    <ion-item *ngIf="filterItem.isPicker" no-lines hidden="true">
      <ion-datetime #datePicker displayFormat="YYYY-MM-DD" (ionChange)="selectedDate(filterItem);"
        [(ngModel)]="filterItem.value" cancelText="取消" doneText="确定" pickerFormat="YYYY-MM-DD">
      </ion-datetime>
    </ion-item>
    <span class="icon-wrap">
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </span>
  </div>
</div>