<!--
  Generated template for the JobListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>兼职列表</ion-title>
    <ion-buttons end *ngIf="actions.can_create">
      <button ion-button (click)="newItem();">
        <ion-icon name="ios-add-outline"></ion-icon>新增
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>
  <ion-list>
    <ion-item *ngFor="let item of jobs">
      <ion-row class="job">
        <ion-col col-6>
          <h2>{{item.name}}</h2>
          <p>{{item.project_name}}</p>
          <p>
            <ion-icon name="ios-calendar-outline"></ion-icon>{{item.work_dates}}
          </p>
          <p>
            <ion-icon name="ios-alarm-outline"></ion-icon>{{item.work_times}}
          </p>
          <p text-wrap>
            <ion-icon name="ios-pin-outline"></ion-icon> {{item.address}}
          </p>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <p>需要人数: {{item.need_total}}</p>
          <p>已报名: {{item.joined_total}}</p>
          <p>招人价格: {{item.price}}{{item.unit}}</p>
          <p>回款价格: {{item.top_price}}{{item.unit}}</p>
          <ion-badge color="{{item.opened ? 'primary' : 'danger'}}">{{item.opened ? "已上线" : "未上线"}}</ion-badge>
        </ion-col>
      </ion-row>


      <div class="buttons">
        <ion-row>
          <ion-col col-6>
            <button ion-button outline small (click)="viewPlans(item);">查看兼职计划</button>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
            <button ion-button small (click)="editItem(item);" *ngIf="actions.can_update">编辑</button>
            <button ion-button color="danger" small (click)="deleteItem(item);" *ngIf="actions.can_delete">删除</button>
          </ion-col>
        </ion-row>


      </div>
      <!-- {{item.name}}
      <ion-note item-right>
        <button ion-button clear (click)="editItem(item);" *ngIf="actions.can_update">编辑</button>
        <button ion-button color="danger" clear (click)="deleteItem(item);" *ngIf="actions.can_delete">删除</button>
      </ion-note> -->
    </ion-item>
  </ion-list>
</ion-content>